.loader-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Arial", sans-serif;
  font-size: 2rem;
  color: #333;
  height: 100vh;
  background-color: #f7f7f7;
}

.brand-name {
  font-weight: bold;
  margin-bottom: 10px;
}

.dots span {
  display: inline-block;
  font-size: 1.5rem;
  color: #555;
  animation: blink 1.5s infinite;
}

.dots span:nth-child(2) {
  animation-delay: 0.3s;
}

.dots span:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes blink {
  0%, 20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
